.section-reviews {
  background-image: url(https://generation-sessions.s3.amazonaws.com/95cb29d44d2cff744788afc5ca522d06/img/reviews-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1394px;
  width: 1727px;
}
